.SupportSection {
  display: flex;
  flex-direction: column;
  padding: 40px 48px;
  justify-content: center;
  align-items: center;
  gap: 44px;
  align-self: stretch;

  background: white;

  &__Icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 44px;

    //@media (min-width: 768px) {
    //  flex-direction: row;
    //}
  }

}